/*Asterisk wildcard selector overrides default styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #3a3a3a;
}

/*Header*/
header {
    background-color: aliceblue;
}

/*Main Content*/
main {
    background-color: cornsilk;
    /*Make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
}

/*Footer*/
footer {
    background-color: blueviolet;
}