/*Import Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Domine&family=Oswald:wght@300&display=swap');

/*Asterisk wildcard selector overrides default styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #3a3a3a;
    font-family: 'Domine', sans-serif;
}

/*Header*/
header {
    background-color: aliceblue;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Domine', serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #242424;
}

/*Nav bar*/
#menu {
    letter-spacing: 2px;
    font-size: 110%;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*Navbar styles with dropdown toggle*/
nav {
    position: absolute;
    background-color: aliceblue;
    width: 100%;
    padding: 0 1rem;
    left: 0;
    box-shadow: 0 3px 3px #3a3a3a;
    display: none;
    top: 100%;
}

/*Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding-top: 5px;
}

/*Main Content*/
main {
    background-color: cornsilk;
    /*Make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    /*push main content with margin-top*/
}

/*Footer*/
footer {
    background-color: blueviolet;
}

/*Media query for tablets and larger (min-width: 768px and up)*/
@media screen and (min-width: 768px){
    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }
    
    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*Main*/
    main {
        /*Push main content down to accomodate larger header*/
        /*margin-top: 79px;*/
    }
}

/*Large devices (992px and up)*/
@media screen and (min-width: 992px) {
    #menu a :hover {
        border-bottom: 1px solid #3a3a3a;
    }
}