/*Import Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Domine&family=Oswald:wght@300&display=swap');

/*Asterisk wildcard selector overrides default styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #3a3a3a;
    font-family: 'Domine', sans-serif;
}

h1, h2 {
    font-family: 'Domine', serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #242424;
}

/*Header*/
header {
    background-color: aliceblue;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

/*Nav bar*/
#menu {
    letter-spacing: 2px;
    font-size: 110%;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*Navbar styles with dropdown toggle*/
nav {
    position: absolute;
    background-color: aliceblue;
    width: 100%;
    padding: 0 1rem;
    left: 0;
    box-shadow: 0 3px 3px #3a3a3a;
    display: none;
    top: 100%;
}

/*Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    /*padding-top: 5px;*/
}

/*Main Content*/
main {
    /*Make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    /*push main content with padding-top*/
    /*padding-top: 79px;*/
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/*Reasons section*/
#reasons {
    width: 90%;
    margin: 20px auto;
}

#reasons h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#benefits-12>div,
#benefits-34>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits p {
    padding: 0 20px;
}

hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

/*Style contact page*/
#contact {
    /*background-image: url("../images/signup-image.webp");*/
    background-color: rgb(39, 207, 212)
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/*Style booking form*/
#booking {
    color: #ffffff;
    background-color: rgba(84, 199, 245, 0.363);
    padding: 30px;
}

#booking > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa; 
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #4418bd;
    border-radius: 4px;   
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

.radio-buttons {
    width: 100%;
    padding: 2px;
    display: flex;
    justify-content: space-between;
}

.submit-button {
    margin-top: 20px;
    border-radius: 4px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #808488;
    color: #fafafa;
}

.submit-button:hover {
    background-color: #3f4640;
}

/*Home image section*/
#home {
    height: 600px;
    width: 100%;
    position: relative;
    background: url("../images/hero.jpg") no-repeat center center/cover;
}

#cover-text {
    background-color: rgba(101, 211, 58, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    min-width: 80px;
    max-height: 60rem;
    padding: 2px 1px 2px;
}

#cover-text h2 {
    text-transform: none;
    color: #ffffff;
}

/*Footer*/
/*footer {
    background-color: rgb(43, 226, 211);
    height:80px;
    margin-top:-80px;
    padding:5px 0;
    width:100%;
    position: absolute;
}*/

#social-networks {
    text-align: center;
    padding: 5px 5px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    padding: 5%;
    font-size: 160%;
    color: #3a3a3a;
} 

/*Media query for tablets and larger (min-width: 768px and up)*/
@media screen and (min-width: 768px){
    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }
    
    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*footer {
        padding-top: 15px;
    }*/

    /*Main*/
    main {
        /*Push main down to accomodate larger header*/
        margin-top: 79px;
    }

    /*Contact page*/

}

/*Large devices (992px and up)*/
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }


}